<li>
    <ul>
        <li>Name: <%= component.name %></li>
        <li>Company: <%= component.project.name %></li>
        <li><%= link_to 'Show', component %>
        <% if current_user.admin?%>
            <%= link_to 'Edit', edit_component_path(component) %>
            <%= link_to 'Destroy', component, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        </li>
    </ul>
</li>
<br>