<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @component.name %>

  <strong>Project:</strong>
  <%= @component.project.name %>
</p>

<h1>Tasks</h1>

<ul>
  <%= render @component.tasks %>
</ul>

<% if current_user.admin?%>
  <%= link_to 'Edit', edit_component_path(@component) %>
  <%= link_to 'New Task', new_task_path %>
<% end %>

<%= link_to 'Back', @component.project %>