<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>

  <strong>Component:</strong>
  <%= @task.component.name %>

  <strong>Task status:</strong>
  <%= @task.task_status.name %>
</p>

<h1>Task logs</h1>

<ul>
  <%= render @task.task_logs %>
</ul>

<%= link_to 'New Task Log', new_task_log_path %>

<% if current_user.admin?%>
  <%= link_to 'Edit', edit_task_path(@task) %>
<% end %>

<%= link_to 'Back', @task.component %>
