<li>
    <ul>
        <li>Name: <%= contact.name %></li>
        <li>Surname: <%= contact.surname %></li>
        <% if current_user.admin?%>
            <li><%= link_to 'Show', contact %>
            <%= link_to 'Edit', edit_contact_path(contact) %>
            <%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        </li>
    </ul>
</li>
<br>