<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @project.user.name %>
</p>

<p>
  <strong>Company:</strong>
  <%= @project.company.name %>
</p>

<p>
  <strong>Project status:</strong>
  <%= @project.project_status.name %>
</p>

<h1>Components</h1>

<ul>
  <%= render @project.components %>
</ul>

<% if current_user.admin?%>
  <%= link_to 'Edit', edit_project_path(@project) %>
  <%= link_to 'New Component', new_component_path %>
<% end %>
<%= link_to 'Back', @project.company %>
